Django>=5.2,<5.3
djangorestframework>=3.16,<4
djangorestframework-simplejwt>=5.5,<6
mysqlclient>=2.2,<3
django-storages[s3]>=1.14,<2
django-cors-headers>=4.7,<5
Pillow>=12,<13
requests>=2.32,<3
python-dotenv>=1.1,<2
redis>=5,<9
gunicorn>=23,<27